html
{
    height: 100%;
    font-family:sans-serif;
    line-height:1.15;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body
{
    height: 100%;
    margin:0
}
article,aside,footer,header,nav,section
{
    display:block
}
.draggableDiv { 
        display:-ms-grid;
        display:grid;
        -ms-grid-columns:100%;
        grid-template-columns:100%;
        -ms-grid-rows:2rem calc(100% - 2rem);
        grid-template-rows:2rem calc(100% - 2rem);
        
        position: absolute;
        width: 400px;
        height: 300px;
        border-radius: 3px;
        border: 2px solid rgba(0,0,0,0.6);

        resize: both;
        overflow: auto;
    }

.frame {
    display:grid;
    grid-template-columns:50% 50%;
    grid-template-rows:100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color:rgba(0,0,0,0.6)
}

.frame-title
{
    display: flex;
    align-items: center;
    grid-column: 1/2;
    grid-row: 1/2;
    color: rgba(255,255,255,0.9)
}
.frame-controls
{
    grid-column: 2/3;
    grid-row: 1/2;
}
.g-controls
{
    display: grid;
    grid-template-columns:33% 33% 33%;
    grid-template-rows:100%;
    float: right;
    width: 4rem;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.control-item-turn
{
    grid-column: 1/2;
    grid-row: 1/2;
}
.control-item-expand
{
    grid-column: 2/3;
    grid-row: 1/2;
}
.control-item-close
{
    grid-column: 3/4;
    grid-row: 1/2;
}
.icon-controlItem {
    display: flex;
    align-items: center;
    fill: rgba(255,255,255,0.6);
    margin: 3px
}
.icon-controlItem:hover {
    cursor: pointer;
    fill: white;
}

.content
{
    background-color:rgba(255,255,255,0.7);
    padding: 5px;
    grid-column:1 / 2;
    grid-row:2 / 3
}


.m-window
{
    height: 100%;
    background-image:url("./images/bg11.jpg");
    background-repeat:no-repeat;
    background-size:cover
}

.m-window-grid
{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:100%;
    grid-template-columns:100%;
    -ms-grid-rows:100% 2.3rem;
    grid-template-rows:100% 2.3rem;
    min-height:100vh
}

.g-desktop
{
    grid-column:1 / 2;
    grid-row:1 / 2;
    padding:0.5rem
}
.g-toolbar
{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns:50% 50%;
    grid-template-columns:50% 50%;
    -ms-grid-rows:100%;
    grid-template-rows:100%;
    grid-column:1 / 2;
    grid-row:2 / 3
}
.g-toolbar__left
{
    grid-column:1 / 2;grid-row:1 / 2;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-pack:start;-ms-flex-pack:start;justify-content:flex-start
}
.g-toolbar__right
{
    grid-column:2 / 3;grid-row:1 / 2;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-pack:end;-ms-flex-pack:end;justify-content:flex-end
}
.g-toolbar-item
{
    width:3rem;padding:.5rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;align-items:center;-webkit-box-pack:center;-ms-flex-pack:center;justify-content:center
}
.g-toolbar-item .toolbar-item-icon
{
    width:90%;height:90%
}
.m-toolbar-item{color:white}
.m-toolbar-turned-item {fill:white; background-color:rgba(255,255,255,0.3); }
.m-toolbar-item:hover, .m-toolbar-item:focus{cursor:pointer;background-color:rgba(255,255,255,0.1)}
.m-toolbar-turned-item:hover ,.toolbar-turned-item:focus{cursor:pointer;background-color:rgba(255,255,255,0.1)}
.m-toolbar-item .toolbar-item-icon{fill:white}
.m-toolbar { background-color:rgba(0,0,0,0.6) }

.g-desk__element
{
    width:5rem;height:5rem;padding:.3rem;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-ms-flex-flow:column;flex-flow:column;display:inline-block;margin:.4rem
}
.g-desk__element .g-element-icon
{
    text-align:center;height:3rem;padding:.5rem
}
.g-desk__element .g-element-icon .icon-desk__element
{
    width:90%;height:90%
}
.g-desk__element .g-element-name
{
    height:1rem
}
.m-toolbar{background-color:rgba(0,0,0,0.6)}
.g-desk__element{border:1px solid transparent}
.g-desk__element:hover,.g-desk__element:focus{background-color:rgba(0,0,0,0.3);cursor:pointer;border:1px solid #ccc}
.g-desk__element .m-element-icon .icon-desk__element{fill:#ccc}
.g-desk__element .m-element-name{color:white;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:.9em}

